* {
  box-sizing: border-box;
}

:host {
  display: block;
  block-size: calc(100vh - var(--rk-site-header-height));
  padding-inline: 20px;
  padding-block: 20px;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 1fr;
  column-gap: 2em;
}

app-dashboard {
  padding-inline: 10px;
  padding-block: 10px;
}
