* {
  box-sizing: border-box;
}

:host {
  display: block;
  block-size: calc(100vh - var(--rk-site-header-height));
  padding-inline: 20px;
  padding-block: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  inline-size: 100%;
  column-gap: 1em;
  container: accordion / inline-size;
}

@container (width < 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
