:host {
  --_button-color: var(--rask-button-color, var(--md-sys-color-surface-5));
  --_button-on-color: var(--rask-button-on-color, var(--md-sys-color-surface-5));
  --_button-shadow: var(--rask-button-shadow, 0 0 0);
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: auto;
  box-sizing: border-box;
  padding-inline: 18px;
  padding-block: 9px;
  border: none;
  outline: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  & .label {
    color: var(--_button-on-color, #ffffff);
    font-weight: var(--md-ref-typeface-weight-bold);
  }
}

:host([outlined]) button {
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--_button-color, #ffffff);
    border-radius: 9999px;
    box-sizing: border-box;
    z-index: 1;
  }

  &:hover::before {
    box-shadow: rgb(var(--_button-shadow), 0.5) 0px 0px 10px 0px;
  }

  /* &:hover::after {
    box-shadow: rgb(var(--_button-shadow), 0.5) inset 0 0 8px;
  } */
}

:host([filled]) button {
  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    /* border: 1px solid var(--_button-color, #ffffff); */
    background: var(--_button-color, #ffffff);
    border-radius: 9999px;
    box-sizing: border-box;
    z-index: 1;
  }

  /* &:hover::before {
    box-shadow: rgb(var(--_button-shadow), 0.5) 0px 0px 10px 0px;
  } */

  /* &:hover::after {
    box-shadow: rgb(var(--_button-shadow), 0.5) inset 0 0 8px;
  } */

  & .label {
    color: var(--_button-on-color, #ffffff);
    /* font-weight: var(--md-ref-typeface-weight-normal); */
    z-index: 2;
  }
}
