root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts}]
quote_type = single

[*.{css,html,js,md,ts,yml}]
indent_size = 2
max_line_length = 120
tab_width = 2

[*.{html,js,md,ts}]
block_comment_start = /**
block_comment = *
block_comment_end = */

[*.{css,html}]
quote_type = double

[*.css]
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.json]
max_line_length = 80
