* {
  box-sizing: border-box;
}

.rk-toast__container {
  position: fixed;
  z-index: 9999;
  inset-block-end: 0;
  inset-inline-end: 5vh;
  padding-block-end: 5vh;

  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;

  /* optimizations */
  /* pointer-events: none; */
}

.rk-toast {
  --_duration: 3s;
  --_bg-lightness: 90%;
  --_travel-distance: 0;
  --_accent-color: var(--md-sys-color-green);

  font-family: var(--md-ref-typeface-font);
  color: var(--md-sys-color-on-background);
  background: var(--md-sys-color-surface-1);
  inline-size: 320px;
  /* padding-block: 1ch; */
  padding-inline: 0 1ch;
  border-radius: var(--md-sys-shape-small);
  font-size: 1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  will-change: transform;
  animation: var(--md-sys-motion-standard-easing) 0.3s ease, slide-in 0.3s ease, fade-out 0.3s ease var(--_duration);

  @media (prefers-color-scheme: dark) {
    color: white;
    --_bg-lightness: 20%;
  }

  @media (--rk-motion-ok) {
    --_travel-distance: 5vh;
  }
}

.rk-toast__inner-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-inline: 10px;
  padding-block: 14px;
}

.rk-toast__border {
  display: none;
  inline-size: 8px;
  block-size: 100%;
  background: var(--_accent-color);
}

.rk-toast--error {
  --_accent-color: var(--md-sys-color-alert-error);
}

.rk-toast--info {
  --_accent-color: var(--md-sys-color-alert-info);
}

.rk-toast--success {
  --_accent-color: var(--md-sys-color-alert-success);
}

.rk-toast--warning {
  --_accent-color: var(--md-sys-color-alert-warning);
}

.material-symbols-sharp {
  font-size: 32px;
  font-variation-settings: 'wght' 300;
  color: var(--_accent-color);
}

.rk-toast__text-container {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  inline-size: 100%;
}

.rk-toast__title-text {
  font-weight: 500;
  font-size: var(--md-sys-typescale-body-large-size);
  line-height: var(--md-sys-typescale-body-large-line-height);
}

.rk-toast__text {
  font-size: var(--md-sys-typescale-body-medium-size);
  line-height: var(--md-sys-typescale-body-medium-line-height);
}

.rk-toast__close-button {
  cursor: pointer;
  font-size: 22px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(var(--_travel-distance, 10px));
  }
}
