* {
  box-sizing: border-box;
}

:host {
  --_neutral-color: var(--md-ref-palette-neutral-variant-50);
  --rk-text-field-label-populated-color: var(--_neutral-color);
  --rk-button-color: var(--md-sys-color-gradient-blue-purple);
  --rk-button-on-color: #ffffff;
  --rk-button-padding-inline: 40px;
  --rk-button-padding-block: 12px;
  --rk-button-font-size: 16px;
  --_form-inline-size: 400px;
  /* --md-outlined-text-field-outline-width: 0px;
  --md-filled-text-field-container-color: transparent;
  --md-filled-text-field-hover-state-layer-color: transparent;
  --md-filled-text-field-hover-container-color: red;
  --md-filled-field-container-padding-horizontal: 0; */

  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
  gap: 20px;
}

/* .summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: linear-gradient(to right, var(--md-sys-color-purple), var(--md-sys-color-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  inline-size: 50%;

  .description {
    font-size: 2.2em;
    line-height: 1.5;
    inline-size: 90%;
  }
} */

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  color: var(--md-sys-color-on-gradient);
  background: var(--md-sys-color-surface-1);
  inline-size: var(--_form-inline-size);
  border-radius: var(--md-sys-shape-extra-large);
  padding-inline: 40px;
  padding-block: 40px;
}

header {
  display: flex;
  justify-content: center;
  padding-block: 10px;
}

h3 {
  font-size: var(--md-sys-typescale-headline-large-size);
  font-weight: var(--md-sys-typescale-headline-medium-weight);
  margin-inline: 0;
  margin-block: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & button {
    --_button-shape: var(--md-sys-shape-rounded);
    --_button-on-color: #fff;
    --_button-color: var(--md-sys-color-gradient-purple-blue);

    position: relative;
    font-size: 18px;
    font-weight: 500;
    appearance: none;
    border: none;
    inline-size: 100%;
    border-radius: var(--_button-shape);
    color: var(--_button-on-color);
    background: var(--_button-color);
    block-size: 42px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: var(--_button-shape);
    }

    &:hover::before {
      box-shadow: rgba(90, 20, 255, 0.5) 0 0 14px 0;
    }
  }

  & a {
    cursor: pointer;
    font-weight: 900;

    &:hover {
      text-decoration: underline;
    }
  }
}
