:host {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}

form {
  --_form-color: var(--md-sys-color-gradient-purple-blue);
  --_form-on-color: var(--md-sys-color-on-gradient);
  --_form-shape: var(--md-sys-shape-large);

  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  color: var(--_form-on-color);
  background: var(--_form-color);
  inline-size: 400px;
  border-radius: var(--_form-shape);
  padding-inline: 40px;
  padding-block: 40px;
}

header {
  display: flex;
  justify-content: center;
  font-size: var(--md-sys-typescale-headline-large-size);
  font-weight: var(--md-sys-typescale-headline-large-weight);
}

h3 {
  margin-inline: 0;
  margin-block: 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;

  & label {
    display: flex;
    align-items: center;
    gap: 12px;
    block-size: 42px;
    border-radius: var(--md-sys-shape-rounded);
    background: var(--md-ref-palette-neutral-100);
    overflow: hidden;

    & input {
      border: none;
      inline-size: 100%;
      block-size: 32px;
      background: var(--md-ref-palette-neutral-100);
      outline: none;
      font-size: 16px;
      color: var(--md-ref-palette-neutral-variant-50);
    }

    & md-icon {
      --_icon-size: 22px;

      color: var(--md-ref-palette-neutral-variant-50);
      font-size: var(--_icon-size);
      inline-size: var(--_icon-size);
      block-size: var(--_icon-size);
      padding-inline-start: 12px;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & button {
    --_button-shape: var(--md-sys-shape-rounded);
    --_button-on-color: var(--md-ref-palette-neutral-100);
    --_button-color: rgba(255, 255, 255, 0.2);

    font-size: 18px;
    font-weight: 500;
    appearance: none;
    border: none;
    inline-size: 200px;
    border-radius: var(--_button-shape);
    color: var(--_button-on-color);
    background-color: var(--_button-color);
    block-size: 42px;
    cursor: pointer;

    &:hover {
      --_button-color: rgba(255, 255, 255, 0.3);
    }
  }

  & a {
    cursor: pointer;
    font-weight: 900;

    &:hover {
      text-decoration: underline;
    }
  }
}
