md-switch {
  transform: scale(0.8);
}

rk-menu {
  --rk-menu-offset-top: calc(var(--rk-site-header-height) - 16px);
  --rk-menu-icon-size: 28px;

  & label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
  }

  & label:last-child {
    justify-content: flex-end;
  }

  & a:hover {
    color: var(--md-sys-color-blue);
  }
}

.avatar {
  --_avatar-color: #ffffff;

  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 30px;
  block-size: 30px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: var(--_avatar-color);
  text-decoration: uppercase;
  font-size: 0.9em;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid var(--_avatar-color);
  }

  &:hover {
    --_avatar-color: var(--md-sys-color-blue);
  }
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & a {
    cursor: pointer;
  }

  & a:hover {
    color: #fff;
    text-decoration: underline;
  }
}
