md-switch {
  transform: scale(0.8);
  /* --md-switch-track-height: 24px;
  --md-switch-state-layer-size: 28px;
  block-size: 15px; */
}

rk-menu {
  --rk-menu-offset-top: calc(var(--rk-site-header-height) - 16px);
  --rk-menu-icon-size: 28px;

  & label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
  }

  & label:last-child {
    justify-content: flex-end;
  }

  & a:hover {
    color: var(--md-sys-color-blue);
  }
}

.avatar {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 34px;
  block-size: 34px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: var(--md-sys-color-blue);
  text-decoration: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid var(--md-sys-color-blue);
  }

  &:hover::before {
    box-shadow: rgba(90, 20, 255, 0.5) 0 0 6px 0;
  }

  &:hover::after {
    box-shadow: rgba(90, 20, 255, 0.5) inset 0 0 6px;
  }
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & a {
    cursor: pointer;
  }

  & a:hover {
    color: #fff;
    text-decoration: underline;
  }
}
