:root {
  --rask-sys-scroll-size: 22px;
  --rask-sys-scroll-color: var(--md-sys-color-surface-2);
  --rask-sys-scroll-hover-color: var(--md-sys-color-surface-3);
  --rask-sys-scroll-shape: 100px;
  --rask-sys-scroll-shadow: var(--md-sys-color-shadow);
  /* --rask-sys-scroll-border-width: 8px; */
  --rask-sys-scroll-border-width: 7px;
  /* --_transition-duration: 3.3s; */
}
/*
.scrollable {
  &::-webkit-scrollbar {
    width: var(--rask-sys-scroll-size);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--rask-sys-scroll-shape);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--rask-sys-scroll-color);
    border-radius: var(--rask-sys-scroll-shape);
    border: var(--rask-sys-scroll-border-width) solid transparent;
    background-clip: content-box;
    box-shadow: var(--rask-sys-scroll-shadow);
    box-sizing: border-box;
    will-change: border-width, box-shadow;
    transition: border-width var(--_transition-duration) var(--md-sys-motion-standard-easing), background 0.3s ease,
      box-shadow var(--_transition-duration) var(--md-sys-motion-standard-easing);
  }

  &::-webkit-scrollbar-thumb:hover {
    --rask-sys-scroll-border-width: 6px;
    --rask-sys-scroll-color: var(--md-sys-color-surface-3);
    --rask-sys-scroll-shadow: var(--md-sys-color-shadow-2);
  }

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
} */
