:host {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  block-size: 100%;
}

.status-code {
  display: block;
  font-size: 14rem;
  font-weight: 500;
  line-height: 1;
  color: var(--md-sys-color-text-light-3);
}

.status {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  inline-size: 60%;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--md-sys-color-blue),
    var(--md-sys-color-hot-pink)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: var(--md-sys-color-text-dark-1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
