.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 1.1rem;
}

rk-chart-element {
  height: 100%;
  width: 100%;
}
