* {
  box-sizing: border-box;
}

:host {
  --_container-padding: 40px;

  display: block;
  padding-inline: var(--_container-padding);
  padding-block: var(--_container-padding);
  block-size: calc(100% - var(--rk-site-header-height) - calc(var(--_container-padding) * 1) + 14px);
  overflow: hidden auto;
}
