* {
  box-sizing: border-box;
}

:host {
  --_container-hover-color: var(--rk-table-row-hover-color, var(--rk-hover-color));

  display: table-row;
  overflow: hidden;
}

:host(:is(:hover):not([header])) {
  /* background: color-mix(var(--rk-sys-color-surface-1), var(--_container-hover-color), 50%)); */
  /* background: color-mix(in srgb, var(--_container-hover-color) 90%, black); */
  background: var(--_container-hover-color);
}

:host([header]) {
  border-start-start-radius: var(--md-sys-shape-large);
  border-start-end-radius: var(--md-sys-shape-large);
}
