* {
  box-sizing: border-box;
}

/*
  I am not sure why, but using custom properties in the
  vendor specific scrollbar pseudo-elements do not work.
  So we have to use the actual values.

  TODO: Research why custom properties do not work in
  vendor specific scrollbar pseudo-elements.
*/
[scrollable] {
  overflow: hidden auto;

  &::-webkit-scrollbar {
    inline-size: 16px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #31303330;
    border: 1px solid #312f38;
    /* border-block-start: none; */
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 14px;
    /* background: #00000030; */
    background: #78757912;
    background-clip: content-box;
  }
}
