main {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:
    var(--rk-site-header-height)
    calc(100% - var(--rk-site-header-height));
  inline-size: 100%;
  block-size: 100vh;
}

app-header {
  grid-row: 1;
}

article {
  grid-row: 2;
}

#route-outlet > .leaving {
  animation: 0.2s fadeOut ease-in;
}

#route-outlet > .entering {
  animation: 0.6 fadeIn linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
